*{
    margin: 0%;
    padding: 0%;
}

.header-section{
    display: flex;
    background-color: rgb(78, 47, 47);
    opacity: 0.8;
    text-align: center;
    height: 70vh;
    overflow: hidden;
}

.head-logo{
   margin: 30px;
}

.head-logo img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.head-logo h3{
    color: white;
}

ul{
    display:inline-flex ;
    list-style: none;
}

.header-section nav ul li{
    margin-top: 40px;
    margin-left: 140px;
    font-size: 30px;
    color: white;
}

.header-section nav ul li:hover{
    color: blueviolet;
    background-color: white;
}

.headline{
    margin-top: 140px;
    margin-left: 20px;
    font-size: 22px;
    color: rgb(244, 247, 240);
   
   
}

.search{
    margin-left: 150px;
    margin-top: 50px;
    display: flex;
    height: 40px;
    width: 60px;
}

.search button{
    font-size: 15px;
    padding: 3px;
    border-radius: 10px;
    margin-left: 5px;
    
}

.search input{
    font-size: 15px;
    padding: 3px;
    border-radius: 10px;
   
}

.search button:hover{
    background-color: rgb(21, 26, 26);
    color: white;
}

/*------------Section css--------------*/

.infomation{
    display: flex;
    margin: auto;
    background-color: white;
    overflow: hidden;
}

.infomation figure img{
    margin: 20px;
    border-radius: 50%;
}

.infomation figure p{
    background-color: rgb(216, 229, 240);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    font-size: 20px;
    line-height: 30px;
    font: bold;
}

/*--------------------Form------------------*/

.Contact-form{
    background-color: bisque;
    height: 75vh;
    overflow: hidden;
}

.Contact-form .form  h1{
    text-align: center;
    font-size: 45px;
    font: bold;
    padding: 10px;
    color: blueviolet;
}  

.Contact-form .form {
    text-align: center;
}

.Contact-form .form .Contact{
    margin: 30px 30px;
}


.Contact-form .form .Contact label{
    font-size: 20px;
    margin: 15px;
}

.Contact-form .form .Contact input{
   height: 40px;
   width: 550px;
}

.Contact-form .form .Contact textarea{
    height: 90px;
    width: 550px;
}   

.Contact-form .form .Contact input::placeholder{
   font-size: 20px;
   padding: 10px;
 }

.Contact-form .form .Contact textarea::placeholder{
    font-size: 20px;
    padding: 10px;
}

.submit input{ 
    color: brown;
    height: 40px;
    width: 300px;
    font-size: 20px;
    font: bold;
}

.submit input:hover{
    background-color: black;
    color: white;
}

/*-----------------footer------------------------*/
footer{
    background-color: black;
    overflow: hidden;
}

footer h3{
    color: white;
    text-align: center;
    padding: 10px;
}

@media screen and (max-width : 1540px) {
    
    .header-section{
        display: block; 
        text-align: center;
    }
    ul{
        margin-right: 100px;
    }
   
    .headline{
        
        margin-top: 70px;
    }
 
    .search{
        margin-left: 42%;
    }

    .infomation{
        flex-wrap: wrap;
        text-align: center;
        margin-left: auto;
    }

    .infomation figure p{
        width: 300px;
        text-align: center;
        font-size: 20px;
        line-height: 30px;
        font: bold;
    }

    .infomation figure{
        margin: auto;
    }
}

@media screen and (max-width : 932px) {
    
    
    .header-section nav ul li{   
        margin-left: 70px; 
    }

    .headline{  
        margin-top: 50px;
        font-size: 15px;    
    }

    .search{
        margin-left: 32%;
    }
       
}

@media screen and (max-width : 649px) {

    .header-section nav ul li{   
        margin-left: 50px; 
    }

    .headline{  
        font-size: 15px;    
    }

    .search{
       
    }

    .Contact-form .form .Contact input{
        height: 40px;
        width: 350px;
    }
 
    .Contact-form .form .Contact textarea{
        height: 90px;
        width: 350px;
    }    
}


@media screen and (max-width : 564px) { 
    .header-section nav ul li{  
        margin-left: 15px;  
        font-size: 23px; 
    }   

    .Contact-form .form .Contact input{
        height: 40px;
        width: 250px;
    }
 
    .Contact-form .form .Contact textarea{
        height: 90px;
        width: 250px;
    }  

    .submit input{
        width: 200px; 
    }

    .search{
        margin-left: 12%;
    }

    .Contact-form{
       
        height: 95vh;
        
    }
}


